<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient section</title>
    <style>
        .navbar {
            overflow: hidden;
            background-color: #333;
        }
        .navbar a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
        }
        .navbar a:hover {
            background-color: #ddd;
            color: black;
        }
    </style>
</head>
<body>

<div class="navbar">
    <a href="#">Profile</a>
    <a href="#">Booking</a>
    <a href="#">History</a>
    <a href="">Logout</a>
</div>
<div align="center" style="margin-top: 159px;">
    <h2 style="color: black;font-weight:800">WELCOME <br>{{type|upper}} - {{username|upper}}</h2>
       <h1 style="font-weight:800;">DENTAL CLINIC</h1>
       <h5  style="    color: black;">We pride ourselves on providing the best</h5>
       <h5  style="    color: black;">possible quality and patient experience</h5></div>
</body>
</html>
